// Variables
$red = #FF0000
$green = #00FF00
$blue = #0000FF
$yellow = #FFFF00
$white = #FFFFFF
$black = #000000
$brown = #46010F

// Styling
.row
	position relative
#simon
	width 500px
	height 500px
	color $white
	border 5px solid $black
	border-radius 50%
	margin 50px auto
	position relative
.color
	width 250px
	height 250px
	float left
#control
	height 200px
	width 200px
	background $white
	margin 150px
	overflow visible
	position absolute
	border-radius 50%
	border 5px solid $black
	text-align center
	p
		color $black
		font-size 50px
		font-weight 700
		margin 20px 0 10px 0
	#row1
		color $black
		#count
			width 20px
			height 15px
			border-radius 25%
			background $brown
		#start
			width 20px
			height 20px
			border-radius 50%
			background $red
		#strict
			width 20px
			height 20px
			border-radius 50%
			background $yellow
#cell1
	background $green
	border-top-left-radius 100%
#cell2
	background $red
	border-top-right-radius 100%
#cell3
	background $blue
	border-bottom-left-radius 100%
#cell4
	background $yellow
	border-bottom-right-radius 100%
