// Variables
$border = #000000
$primary = #00FF00
$secondary = #29b6f6

// Styling
#root
    position relative
#tictactoe
    margin 50px auto
    width 600px
    height 600px
.cell
    height 196px
    width 196px
    background $primary
    float left
    border 2px solid $border
.text
    margin 30% auto
    text-align center
    font-size 4rem
    font-weight 500
.player
    padding-top 30px
    text-align center
    font-size 3rem
    #as-o
        display none
    #o-won
        display none
    #x-won
        display none
#won
    text-align center
#symbol-button
	background $primary
	height 50px
	font-size 22px
	text-align center
	border 0
	border-bottom 2px solid $border
	cursor pointer
	padding 0 10px
#o-won
	background $primary
	height 50px
	font-size 40px
	text-align center
	border 0
	border-bottom 2px solid $border
	cursor pointer
	padding 0 10px
#x-won
	background $primary
	height 50px
	font-size 40px
	text-align center
	border 0
	border-bottom 2px solid $border
	cursor pointer
	padding 0 10px
