body {
  background: red;
}

.pomodoro {
  margin: 0 auto;
  text-align: center;
}

#timeleft {
  height: 300px;
  width: 300px;
  font-size: 5rem;
  border-radius: 50%;
  background: #696969;
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
  line-height: 300px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
